---
layout: page
title: MINLOG
description: I will soon become the " best developer "
background: '/img/bg-index.jpg'
pagination:
    enabled: true
    per_page: 12
    category: typescript
---


<body>
    <div style="margin-bottom: 20px;">
        <span style="font-weight: bold; font-size: 1.5rem;">Posts</span>
    </div>
    <div style="display: flex; flex-wrap: wrap;" id="targetElement">
        {% assign count = 0 %}
        {% for post in paginator.posts %}
          {% assign count = count | plus: 1 %}
          {% if count > paginator.per_page %}
            {% break %}
          {% endif %}
        <div class="card-custom">
            <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
                <img class="img-custom" src="{{ post.background}}"/>
            </a>
            <a style="font-weight: 600;" class="card-body-custom overflow-ellipsis" href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">{{ post.title }}</a>
            <div style="display: flex; justify-content: space-evenly; border-top: 1px solid #e3e3e3;"> 
                <span class="card-body-custom2">{{ post.date | date: '%Y.%m.%d' }}</span>
                <span class="card-body-custom3">{{ post.subtitle }}</span>
            </div>
      </div>
      {% endfor %}
    </div>
<br>
<br>
{% if paginator.total_pages > 1 %}
    <div class="pagination">
        {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
        {% else %}
            <span class="disabled">&laquo; Prev</span>
        {% endif %}

        {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
        {% else %}
            <span class="disabled">Next &raquo;</span>
        {% endif %}
    </div>
{% endif %}
<br>
