---
layout: page
title: MINLOG
description: I will soon become the " best developer "
background: '/img/bg-index.jpg'
---


<div class="category-wrap">
    {% for list in site.category_list %}
        <details open="open">
            <summary><span class="category-title" style="font-weight: bold; font-size: 25px;">{{ list | upcase }}</span></summary>
            <ul class="posts-list" style="list-style:none;">
                {% for post in site.categories[ list ] %}
                <li style="margin: 7px;">
                    <span style="font-size: 20px;">
                        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                        <span style="font-size: 12px; color: rgb(128, 0, 0); background-color: white; padding: 5px 5px; border-radius: 5px; font-weight: bold; border: 1px solid rgb(129, 0, 0);">{{ post.subtitle }}</span>
                        <small>{{ post.date | date: '%Y.%m.%d' }}</small>
                    </span>
                </li>
                {% endfor %}
            </ul>
        </details>
    {% endfor %}
</div>
<br>
<br>
<br>

<script>
</script>