// Import Core Clean Blog SCSS
@import "../assets/vendor/startbootstrap-clean-blog/scss/styles.scss";


.img-custom {
    width: 200px;
    height: 133px;
  }
  
  .card-custom {
      width: 200px;
      background-color: white;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 16px 0px;
      overflow: hidden;
      transition: transform .5s ease, padding .5s ease;
      margin: 30px 15px;
  }
  
  .card-custom:hover {
      transform: translate(0,-2px);
      box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 16px 0px;
  }
  
  .card-body-custom {
      
      height: 45px;
      font-size: 0.9rem;
      line-height: 1.5;
      border-top: 1px solid #e3e3e3;
      padding: 0.6rem;
      display: flex;
      justify-content: space-between;
      -webkit-box-pack: justify;
      align-items: center;
  }
  
  .card-body-custom2 {
      height: 30px;
      font-size: 0.7rem;
      display: flex;
      justify-content: space-between;
      -webkit-box-pack: justify;
      align-items: center;
  }
  
  .card-body-custom3 {
      font-size: 0.7rem;
      display: flex;
      justify-content: space-between;
      -webkit-box-pack: justify;
      align-items: center;
  }
  
  .overflow-ellipsis {
    white-space: nowrap; /* 줄 바꿈 방지 */
    overflow: hidden; /* 넘치는 내용 숨김 */
    text-overflow: ellipsis; /* 넘치는 내용을 "..."으로 표시 */
    width: 200px; /* 생략된 텍스트를 표시할 너비 */
  }
  
  /* a 태그 스타일 */
  a {
    text-decoration: none; /* 밑줄 제거 */
  }
  
  /* hover 시 스타일 */
  a:hover {
    color: inherit; /* 기본 색상 상속 */
    text-decoration: none; /* hover 시 밑줄 제거 */
  }
  
  .pagination {
      margin-top: 20px;
      text-align: center;
  }
  
  .pagination a, .pagination span {
      display: inline-block;
      padding: 5px 10px;
      margin: 0 2px;
      color: #333;
      border: 1px solid #ccc;
      border-radius: 3px;
      text-decoration: none;
  }
  
  .pagination a:hover {
      background-color: #f5f5f5;
  }
  
  .pagination .current {
      background-color: #007bff;
      color: #fff;
      border: 1px solid #007bff;
  }
  
  .pagination .disabled {
      color: #999;
      pointer-events: none;
      cursor: not-allowed;
  }